@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$tablet: 600px;
$desktop: 900px;
$landscape: 1099px;
$largeDesktop: 1800px;

@mixin bpTablet {
  @media (min-width: #{$tablet}) {
    @content;
  }
}

@mixin bpDesktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

@mixin bpLandscape {
  @media screen and (orientation:landscape)
and (max-device-width: #{$landscape}) {
    @content;
  }
}

@mixin bpLGDesktop {
  @media (min-width: #{$largeDesktop}) {
    @content;
  }
}

.hidden {
  display: none;
}

body {
  // background-image: url("/assets/mobile/bg-image-nighttime.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-family: "inter", sans-serif;
  position: relative;
  height: 100vh;
  overflow: hidden;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.548);
    z-index: -1;
  }

  @include bpTablet() {
    // background-image: url("/assets/tablet/bg-image-nighttime.jpg");
  }

  @include bpDesktop() {
    // background-image: url("/assets/desktop/bg-image-nighttime.jpg");
    background-position: center center;
  }

  div.container {
    min-height: 100vh;
    position: relative;
    width: 80%;
    margin: auto;
    padding-top: 2em;

    @include bpTablet() {
      padding-top: 6em;
    }

    @include bpLandscape() {
      padding-top: 2em;
    }

    div.quotation {
      transition: 1s linear;

      &.quoteAnimation {
        opacity: 0;
      }

      p {
        font-size: 3.5vmin;
        line-height: 1.5;
        position: relative;

        @include bpDesktop() {
          min-width: 600px;
          width: 45%;
          font-size: 2.5vmin;
        }
      }

      h4 {
        font-size: 4.5vmin;
        line-height: 2;

        @include bpDesktop() {
          font-size: 3vmin;
        }
      }
    }

    div.main {
      position: absolute;
      bottom: 10vh;

      div.display {
        transition: 1s linear;

        @include bpLandscape() {
          width: 80vw;
          display: grid;
          grid-template-columns: 2fr 1fr;
          grid-template-rows: auto;
          grid-template-areas:
            "first first first"
            "second second second"
            "third third fourth";
          align-items: center;
        }

        &.displayAnimation {
          transform: translateY(-45vh);

          @include bpLandscape() {
            transform: translateY(-42vh);
          }

          @include bpDesktop() {
            transform: translateY(-38vh);
          }
        }
        @include bpDesktop() {
          width: 85vw;
          max-width: 1800px;
          display: grid;
          grid-template-columns: 2fr 1fr;
          grid-template-rows: auto;
          grid-template-areas:
            "first first first"
            "second second second"
            "third third fourth";
          align-items: center;
          padding-bottom: 3em;
        }

        @include bpLGDesktop() {
          max-width: 90vw;
        }

        div.greeting {
          display: flex;
          align-items: center;

          @include bpLandscape() {
            grid-area: first;
          }

          @include bpDesktop() {
            grid-area: first;
          }

          img {
            width: 25px;
            height: auto;

            @include bpDesktop() {
              width: 45px;
            }
          }

          h3 {
            font-size: 4vmin;
            font-weight: 400;
            margin-left: 1em;

            span {
              display: none;

              @include bpDesktop() {
                display: inline-block;
                font-size: 4vmin;
                font-weight: 400;
              }
            }
          }
        }

        div {
          @include bpLandscape() {
            grid-area: second;
          }

          @include bpDesktop() {
            grid-area: second;
          }

          h1 {
            display: inline-block;
            font-size: 18vmin;
            margin: 0.1em 0;
          }

          span {
            font-size: 5vmin;
            font-weight: 300;
            margin-left: 0.5em;
          }
        }

        h2 {
          font-size: 4.5vmin;
          letter-spacing: 2px;

          @include bpLandscape() {
            grid-area: third;
          }

          @include bpDesktop() {
            grid-area: third;
          }
        }
        div.button {
          display: flex;
          align-items: center;
          justify-content: space-between;
          background-color: white;
          color: rgb(48, 48, 48);
          width: 45%;
          transition: filter 1s linear;
          border-radius: 40px;
          padding: 0.2em 0.2em;
          margin-top: 3em;
          cursor: pointer;

          @include bpTablet() {
            padding: 0.5em 0.2em;
          }

          @include bpLandscape() {
            grid-area: fourth;
            padding: 0.2em;
            margin: 0%;
            width: 120px;
          }

          @include bpDesktop() {
            grid-area: fourth;
            margin-right: 1em;
            margin-top: 0;
            width: auto;
          }

          span {
            width: 100%;
            font-size: 3.5vmin;
            text-align: center;
            letter-spacing: 1vw;

            @include bpDesktop() {
              font-size: 2.2vmin;
              font-weight: 800;
              padding: 0.5em 0.5em;
            }
          }

          img {
            width: 30%;
            transition: 1s linear;

            &:hover {
              filter: brightness(2);
            }

            &.imgAnimation {
              transform: rotate(180deg);
            }

            @include bpDesktop() {
              width: 100px;
            }
          }
        }
      }
    }
  }

  div.extraInfo {
    transition: transform 1s linear;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40%;
    overflow: hidden;
    transform: translateY(100%);
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;

    @include bpLandscape() {
      height: 50%;
    }

    @include bpDesktop() {
      height: 50%;
    }

    &.extraInfoAnimation {
      transform: translateY(0%);
    }

    div.wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 80%;
      position: relative;

      .border {
        display: none;
      }

      @include bpTablet() {
        display: grid;
        justify-content: flex-start;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
          "first second"
          "third fourth";
      }

      @include bpLandscape() {
        .border {
          display: block;
          position: absolute;
          height: 100%;
          border: 1px solid rgba(255, 255, 255, 0.596);
          left: 45%;
        }
      }

      @include bpDesktop() {
        .border {
          display: block;
          position: absolute;
          height: 100%;
          border: 1px solid rgba(255, 255, 255, 0.596);
          left: 45%;
        }
      }

      div.info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1em 0;

        @include bpTablet() {
          flex-direction: column;
          align-items: flex-start;
          padding-top: 3em;
          padding-bottom: 3em;

          @include bpLandscape() {
            padding: 1em;
          }
          &.box4,
          &.box3 {
            padding-left: 3em;
          }

          &.box2 {
            grid-column: 1/2;
            grid-row: 2/3;
          }

          &.box3 {
            grid-column: 2/3;
            grid-row: 1/2;
          }
        }

        span.header {
          font-size: 3.5vmin;
          @include bpTablet() {
            font-size: 2vmin;
          }
        }

        span.data {
          font-size: 4.5vmin;
          font-weight: 700;
        }
      }
    }
  }
}
