@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hidden {
  display: none;
}

body {
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-family: "inter", sans-serif;
  position: relative;
  height: 100vh;
  overflow: hidden;
}

body::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.548);
  z-index: -1;
}

@media (min-width: 900px) {
  body {
    background-position: center center;
  }
}

body div.container {
  min-height: 100vh;
  position: relative;
  width: 80%;
  margin: auto;
  padding-top: 2em;
}

@media (min-width: 600px) {
  body div.container {
    padding-top: 6em;
  }
}

@media screen and (orientation: landscape) and (max-device-width: 1099px) {
  body div.container {
    padding-top: 2em;
  }
}

body div.container div.quotation {
  -webkit-transition: 1s linear;
  transition: 1s linear;
}

body div.container div.quotation.quoteAnimation {
  opacity: 0;
}

body div.container div.quotation p {
  font-size: 3.5vmin;
  line-height: 1.5;
  position: relative;
}

@media (min-width: 900px) {
  body div.container div.quotation p {
    min-width: 600px;
    width: 45%;
    font-size: 2.5vmin;
  }
}

body div.container div.quotation h4 {
  font-size: 4.5vmin;
  line-height: 2;
}

@media (min-width: 900px) {
  body div.container div.quotation h4 {
    font-size: 3vmin;
  }
}

body div.container div.main {
  position: absolute;
  bottom: 10vh;
}

body div.container div.main div.display {
  -webkit-transition: 1s linear;
  transition: 1s linear;
}

@media screen and (orientation: landscape) and (max-device-width: 1099px) {
  body div.container div.main div.display {
    width: 80vw;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: "first first first" "second second second" "third third fourth";
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

body div.container div.main div.display.displayAnimation {
  -webkit-transform: translateY(-45vh);
          transform: translateY(-45vh);
}

@media screen and (orientation: landscape) and (max-device-width: 1099px) {
  body div.container div.main div.display.displayAnimation {
    -webkit-transform: translateY(-42vh);
            transform: translateY(-42vh);
  }
}

@media (min-width: 900px) {
  body div.container div.main div.display.displayAnimation {
    -webkit-transform: translateY(-38vh);
            transform: translateY(-38vh);
  }
}

@media (min-width: 900px) {
  body div.container div.main div.display {
    width: 85vw;
    max-width: 1800px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: "first first first" "second second second" "third third fourth";
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 3em;
  }
}

@media (min-width: 1800px) {
  body div.container div.main div.display {
    max-width: 90vw;
  }
}

body div.container div.main div.display div.greeting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (orientation: landscape) and (max-device-width: 1099px) {
  body div.container div.main div.display div.greeting {
    grid-area: first;
  }
}

@media (min-width: 900px) {
  body div.container div.main div.display div.greeting {
    grid-area: first;
  }
}

body div.container div.main div.display div.greeting img {
  width: 25px;
  height: auto;
}

@media (min-width: 900px) {
  body div.container div.main div.display div.greeting img {
    width: 45px;
  }
}

body div.container div.main div.display div.greeting h3 {
  font-size: 4vmin;
  font-weight: 400;
  margin-left: 1em;
}

body div.container div.main div.display div.greeting h3 span {
  display: none;
}

@media (min-width: 900px) {
  body div.container div.main div.display div.greeting h3 span {
    display: inline-block;
    font-size: 4vmin;
    font-weight: 400;
  }
}

@media screen and (orientation: landscape) and (max-device-width: 1099px) {
  body div.container div.main div.display div {
    grid-area: second;
  }
}

@media (min-width: 900px) {
  body div.container div.main div.display div {
    grid-area: second;
  }
}

body div.container div.main div.display div h1 {
  display: inline-block;
  font-size: 18vmin;
  margin: 0.1em 0;
}

body div.container div.main div.display div span {
  font-size: 5vmin;
  font-weight: 300;
  margin-left: 0.5em;
}

body div.container div.main div.display h2 {
  font-size: 4.5vmin;
  letter-spacing: 2px;
}

@media screen and (orientation: landscape) and (max-device-width: 1099px) {
  body div.container div.main div.display h2 {
    grid-area: third;
  }
}

@media (min-width: 900px) {
  body div.container div.main div.display h2 {
    grid-area: third;
  }
}

body div.container div.main div.display div.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  color: #303030;
  width: 45%;
  -webkit-transition: -webkit-filter 1s linear;
  transition: -webkit-filter 1s linear;
  transition: filter 1s linear;
  transition: filter 1s linear, -webkit-filter 1s linear;
  border-radius: 40px;
  padding: 0.2em 0.2em;
  margin-top: 3em;
  cursor: pointer;
}

@media (min-width: 600px) {
  body div.container div.main div.display div.button {
    padding: 0.5em 0.2em;
  }
}

@media screen and (orientation: landscape) and (max-device-width: 1099px) {
  body div.container div.main div.display div.button {
    grid-area: fourth;
    padding: 0.2em;
    margin: 0%;
    width: 120px;
  }
}

@media (min-width: 900px) {
  body div.container div.main div.display div.button {
    grid-area: fourth;
    margin-right: 1em;
    margin-top: 0;
    width: auto;
  }
}

body div.container div.main div.display div.button span {
  width: 100%;
  font-size: 3.5vmin;
  text-align: center;
  letter-spacing: 1vw;
}

@media (min-width: 900px) {
  body div.container div.main div.display div.button span {
    font-size: 2.2vmin;
    font-weight: 800;
    padding: 0.5em 0.5em;
  }
}

body div.container div.main div.display div.button img {
  width: 30%;
  -webkit-transition: 1s linear;
  transition: 1s linear;
}

body div.container div.main div.display div.button img:hover {
  -webkit-filter: brightness(2);
          filter: brightness(2);
}

body div.container div.main div.display div.button img.imgAnimation {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media (min-width: 900px) {
  body div.container div.main div.display div.button img {
    width: 100px;
  }
}

body div.extraInfo {
  -webkit-transition: -webkit-transform 1s linear;
  transition: -webkit-transform 1s linear;
  transition: transform 1s linear;
  transition: transform 1s linear, -webkit-transform 1s linear;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40%;
  overflow: hidden;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (orientation: landscape) and (max-device-width: 1099px) {
  body div.extraInfo {
    height: 50%;
  }
}

@media (min-width: 900px) {
  body div.extraInfo {
    height: 50%;
  }
}

body div.extraInfo.extraInfoAnimation {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

body div.extraInfo div.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 80%;
  position: relative;
}

body div.extraInfo div.wrapper .border {
  display: none;
}

@media (min-width: 600px) {
  body div.extraInfo div.wrapper {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "first second" "third fourth";
  }
}

@media screen and (orientation: landscape) and (max-device-width: 1099px) {
  body div.extraInfo div.wrapper .border {
    display: block;
    position: absolute;
    height: 100%;
    border: 1px solid rgba(255, 255, 255, 0.596);
    left: 45%;
  }
}

@media (min-width: 900px) {
  body div.extraInfo div.wrapper .border {
    display: block;
    position: absolute;
    height: 100%;
    border: 1px solid rgba(255, 255, 255, 0.596);
    left: 45%;
  }
}

body div.extraInfo div.wrapper div.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em 0;
}

@media (min-width: 600px) {
  body div.extraInfo div.wrapper div.info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 3em;
    padding-bottom: 3em;
  }
}

@media screen and (min-width: 600px) and (orientation: landscape) and (max-device-width: 1099px) {
  body div.extraInfo div.wrapper div.info {
    padding: 1em;
  }
}

@media (min-width: 600px) {
  body div.extraInfo div.wrapper div.info.box4, body div.extraInfo div.wrapper div.info.box3 {
    padding-left: 3em;
  }
  body div.extraInfo div.wrapper div.info.box2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  body div.extraInfo div.wrapper div.info.box3 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
}

body div.extraInfo div.wrapper div.info span.header {
  font-size: 3.5vmin;
}

@media (min-width: 600px) {
  body div.extraInfo div.wrapper div.info span.header {
    font-size: 2vmin;
  }
}

body div.extraInfo div.wrapper div.info span.data {
  font-size: 4.5vmin;
  font-weight: 700;
}
/*# sourceMappingURL=style.css.map */